@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container form-control w-[700px] my-20 p-12 rounded-lg shadow border-none">
    <div class="mb-6">
        <p class="text-3xl font-semibold text-center">Register</p>
    </div>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="grid grid-cols-1 gap-3">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-group">
            <label asp-for="Input.Email" class="form-label">Email</label>
            <input asp-for="Input.Email" class="input input-bordered input-warning w-full max-w-2xl"
                autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password" class="form-label">Password</label>
            <input asp-for="Input.Password" class="input input-bordered input-warning w-full max-w-2xl"
                autocomplete="new-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" class="input input-bordered input-warning w-full max-w-2xl"
                autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="mt-4 w-100 btn btn-lg btn-warning">Register</button>
        <div class="">
            <p>
                <a class="hover:text-yellow-400" id="login" asp-page="./Login">Already have an account?</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
