@model NanaProject.ViewModels.AccountCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container form-control w-[700px] my-20 p-12 rounded-lg shadow border-none">
    <h1 class="text-center text-3xl font-semibold text-yellow-400 mb-4">Modify An Account</h1>
    <div class="">
        <form asp-action="Edit" asp-area="Admin" class="grid grid-cols-2 gap-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="label">User Name</label>
                <input asp-for="UserName" type="text" placeholder="User Name"
                    class="input input-bordered input-warning w-full max-w-xs" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="label">Phone Number</label>
                <input asp-for="PhoneNumber" type="Text" placeholder="Phone Number"
                    class="input input-bordered input-warning w-full max-w-xs" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-control border-none w-[60%]">
                <label asp-for="LockoutEnabled" class="cursor-pointer label">
                    <input type="checkbox" class="checkbox checkbox-warning" asp-for="LockoutEnabled" />
                    <span class="label-text">Lockout Enabled</span>
                </label>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Update" class="btn btn-warning" />
                <a class="btn btn-primary" asp-area="Admin" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
