@model NanaProject.Models.Species

@{
    ViewData["Title"] = "Edit";
}

<div class="container form-control w-[700px] my-20 p-12 rounded-lg shadow border-none">
    <h1 class="text-center text-3xl font-semibold text-yellow-400 mb-4">Modify An Species</h1>
    <div class="">
        <form asp-action="Edit" asp-area="Admin" class="grid grid-cols-2 gap-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SpecId" />
            <div class="form-group">
                <label asp-for="SpecName" class="label">Name</label>
                <input asp-for="SpecName" type="text" placeholder="Species Name"
                    class="input input-bordered input-warning w-full max-w-xs" />
                <span asp-validation-for="SpecName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecDescription" class="label">Description</label>
                <input asp-for="SpecDescription" type="Text" placeholder="Species Description"
                    class="input input-bordered input-warning w-full max-w-xs" />
                <span asp-validation-for="SpecDescription" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Update" class="btn btn-warning" />
                <a class="btn btn-primary" asp-area="Admin" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
