@{
    ViewData["Title"] = "Home Page";
}
<section class="p-4 h-auto bg-[url('/images/Banner.jpg')] bg-cover">
    <div class="p-20 ml-20 mb-28">
        <h1 class="text-white font-semibold text-6xl">Find your pet</h1>
        <p class="text-white text-xl max-w-[570px] pt-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mi at elit sodales placerat. Donec
            porttitor metus sed odio molestie lobortis. Ut venenatis interdum leo, ac venenatis est feugiat vel.
            Curabitur non laoreet neque. Nullam sem turpis, maximus eu bibendum eget, mattis nec tortor. Aenean
            nisi risus, elementum sed ante at, fermentum tincidunt purus.
        </p>
        <button
            class="bg-yellow-400 hover:bg-yellow-500 active:bg-yellow-600 transition text-xl font-semibold mt-12 px-4 py-3 rounded-full shadow-md">
            Let's Adopt
        </button>
    </div>
</section>
<section>
    <div class="flex justify-evenly max-w-6xl mx-auto -mt-[10rem]">
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Adopt pet, find your loving family</p>
            </div>
        </div>
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Adopt pet, find your loving family</p>
            </div>
        </div>
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Adopt pet, find your loving family</p>
            </div>
        </div>
    </div>
</section>
<section class="grid grid-cols-1 place-items-center">
    <div class="text-center mt-20">
        <h1 class="text-4xl font-semibold opacity-80">Which pet are you interest?</h1>
        <p class="opacity-90">If you care so much of that species, please click in the box to see more!!</p>
    </div>
    <div class="grid grid-cols-3 gap-20 place-items-center mt-4">
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Adopt pet, find your loving family</p>
            </div>
        </div>
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Adopt pet, find your loving family</p>
            </div>
        </div>
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Adopt pet, find your loving family</p>
            </div>
        </div>
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Adopt pet, find your loving family</p>
            </div>
        </div>
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Adopt pet, find your loving family</p>
            </div>
        </div>
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Adopt pet, find your loving family</p>
            </div>
        </div>
    </div>
    <button
        class="bg-yellow-400 hover:bg-yellow-500 active:bg-yellow-600 transition text-xl font-semibold mt-12 px-4 py-3 rounded-full shadow-md ">
        More species
    </button>
</section>
<section class="flex justify-around gap-20 mt-20">
    <div>
        <svg viewbox="1 0 6 1.1" class="stroke-yellow-400">
            <text x="1" y="1" font-size="1" fill="none" stroke-width=".015" font-family="sans-serif">Service</text>
        </svg>
        <h2 class="text-5xl font-bold">Pet Care With Love</h2>
        <p class="max-w-[570px] mt-14">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mi at elit sodales placerat. Donec
            porttitor metus sed odio molestie lobortis. Ut venenatis interdum leo, ac venenatis est feugiat vel.
            Curabitur non laoreet neque. Nullam sem turpis, maximus eu bibendum eget, mattis nec tortor. Aenean
            nisi risus, elementum sed ante at, fermentum tincidunt purus.
        </p>
        <h5 class="text-2xl font-semibold my-3">
            The most pet adopted by our client
        </h5>
        <div class="flex justify-between w-auto my-2">
            <p>Cat Adopted</p>
            <p>57%</p>
        </div>
        <div class="bg-zinc-100 rounded-md w-auto">
            <div class="bg-yellow-400 w-[57%] h-2 rounded-md"></div>
        </div>
        <div class="flex justify-between w-auto my-2">
            <p>Dog Adopted</p>
            <p>47%</p>
        </div>
        <div class="bg-zinc-100 rounded-md w-auto">
            <div class="bg-yellow-400 w-[47%] h-2 rounded-md"></div>
        </div>
        <div class="flex justify-between w-auto my-2">
            <p>Bird Adopted</p>
            <p>42%</p>
        </div>
        <div class="bg-zinc-100 rounded-md w-auto">
            <div class="bg-yellow-400 w-[42%] h-2 rounded-md"></div>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-10">
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Adopt Pet</p>
            </div>
        </div>
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Pet Supplies</p>
            </div>
        </div>
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Vet Service</p>
            </div>
        </div>
        <div>
            <div class="bg-zinc-100 p-9 rounded-3xl shadow max-w-72">
                <img class="max-w-40 mx-auto" src="/Images/Paw.png" alt="">
                <p class="mt-3 text-center font-semibold text-lg opacity-95">Dog Training</p>
            </div>
        </div>
    </div>
</section>
<section class="grid grid-cols-1 place-items-center bg-yellow-500 w-auto h-[500px] mt-20 mx-48 rounded-[2.5rem]">
    <div>
        <svg viewbox="1 0 10 1.3" class="stroke-slate-100">
            <text x="3.1" y="1" font-size="1" fill="none" stroke-width=".015" font-family="sans-serif">Stay & Save</text>
        </svg>
        <div class="text-center">
            <h1 class="text-6xl font-bold text-slate-100 opacity-90">Get Your Awsome Discount</h1>
            <p class="m text-xl text-white">for long Terms Stays Over 30 Days</p>
        </div>
    </div>
    <div>
        <img class="translate-y-[1.2rem] w-auto" src="Images/petsBan.png" alt="">
    </div>
</section>