@{
    ViewData["Title"] = "Home Page";
}
<section class="p-4 h-auto bg-[url('/images/Banner.jpg')] bg-cover">
    <div class="p-20 ml-20 mb-28">
        <h1 class="text-white font-semibold text-4xl">Find your pet</h1>
        <p class="text-white text-xl w-96 pt-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mi at elit sodales placerat. Donec
            porttitor metus sed odio molestie lobortis. Ut venenatis interdum leo, ac venenatis est feugiat vel.
            Curabitur non laoreet neque. Nullam sem turpis, maximus eu bibendum eget, mattis nec tortor. Aenean
            nisi risus, elementum sed ante at, fermentum tincidunt purus.
        </p>
        <button class="bg-yellow-200 hover:bg-yellow-400 text-xl font-semibold mt-4 py-3 w-52 rounded-full">Let's
            Adopt</button>
    </div>
</section>
<section>
    <div class="flex justify-center gap-36 -translate-y-1/2">
        <div class="bg-orange-50 w-72 h-72 rounded-3xl">
            <img class="" src="/Images/Paw.png" alt="">
            <p class="text-center">Adopt pet, find your loving family</p>
        </div>
        <div class="bg-orange-50 w-72 h-72 rounded-3xl">
            <p class="text-center">Provide food for your friend</p>
        </div>
        <div class="bg-orange-50 w-72 h-72 rounded-3xl">
            <p class="text-center">Lorem ipsum dolor sit amet</p>
        </div>
    </div>
</section>